@font-face {
  font-family: "Miracle";
  src: url("/assets/fonts/Miracle/miracle-regular.woff2");
}

@font-face {
  font-family: "Voyage";
  src: url("/assets/fonts/Voyage/Voyage-regular.otf");
}

@font-face {
  font-weight: 400;
  font-family: Helvetica;
  src: url("/assets/fonts/Helvetica-neue-lt-std/Helvetica-roman.otf");
}

@font-face {
  font-weight: 700;
  font-family: Helvetica;
  src: url("/assets/fonts/Helvetica-neue-lt-std/Helvetica-bold.otf");
}

$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-500: 500;
$color-yellow: #FCD043;
$color-white: #FFFCF6;
$color-dark-green: #313F38;
$color-nordic-green: #1B3B36;
$font-Miracle: "Miracle";
$font-Voyage: "Voyage";
$font-Helvetica: Helvetica;


%major-title {              //вызывается @extend %major-title
  font-family: "Miracle";
  font-weight: 400;
  font-size: 9em;         // 150px
  line-height: 1em;       //130px
}

%small-title {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 100px;
  line-height: 80px;
}

%text-elements {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

%middle-elements {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
}

%small-elements {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
