@charset "UTF-8";
@font-face {
  font-family: "Miracle";
  src: url("/assets/fonts/Miracle/miracle-regular.woff2");
}
@font-face {
  font-family: "Voyage";
  src: url("/assets/fonts/Voyage/Voyage-regular.otf");
}
@font-face {
  font-weight: 400;
  font-family: Helvetica;
  src: url("/assets/fonts/Helvetica-neue-lt-std/Helvetica-roman.otf");
}
@font-face {
  font-weight: 700;
  font-family: Helvetica;
  src: url("/assets/fonts/Helvetica-neue-lt-std/Helvetica-bold.otf");
}
.our-gallery__title, .best-apartments__title {
  font-family: "Miracle";
  font-weight: 400;
  font-size: 9em;
  line-height: 1em;
}

.our-gallery__text-element {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.footer__title-slash, .footer__title, .footer__form-name, .footer__address, .our-gallery__text-element-left, .best-apartments__text {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
}

* {
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

.hd-container .hd-container__inf, .hd-container .hd-container__contacts {
  font-family: Helvetica;
  font-size: 160%;
  font-weight: 400;
  line-height: 100%;
  padding-top: 3em;
  text-transform: uppercase;
  width: 100%;
}

.menu {
  width: 100%;
  height: 8em;
  background-color: #313F38;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu__burger,
.menu .menu__br-lable {
  display: none;
}
.menu .menu__name {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 100%;
  color: #FFFCF6;
  margin-left: 1.6%;
  font-family: Helvetica;
}
.menu .menu__nav {
  width: 55%;
}
.menu .menu__nav .menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
.menu .menu__nav .menu__list .menu__item .menu__link {
  text-decoration: none;
  color: #FFFCF6;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  font-family: Helvetica;
}
.menu .menu__tel {
  font-size: 1.2em;
  font-weight: 400;
  color: #FFFCF6;
  margin-right: 1.6%;
  font-family: Helvetica;
}
@media screen and (max-width: 1024px) {
  .menu {
    height: 5em;
  }
  .menu .menu__br-lable {
    display: block;
    color: #FFFCF6;
    margin-right: 2.5%;
    cursor: pointer;
    font-size: 4em;
  }
  .menu .menu__br-lable::before {
    content: "=";
  }
  .menu .menu__tel {
    display: none;
  }
  .menu .menu__nav {
    display: none;
    padding-left: 40%;
  }
  .menu .menu__nav .menu__list {
    display: flex;
    flex-direction: column;
    background-color: #313F38;
    justify-content: space-between;
    height: 19em;
    position: absolute;
    width: 50%;
    margin-top: -1em;
    right: 1em;
  }
  .menu .menu__burger:checked + .menu__br-lable + .menu__nav {
    display: block;
    position: absolute;
  }
  .menu .menu__burger:checked + .menu__br-lable::before {
    content: "✖";
    position: relative;
    font-size: 60%;
  }
}

.header {
  background-color: #313F38;
}
.header .header__title-wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  padding-left: 1.6%;
}
.header .header__title-wrap .header__title {
  display: flex;
  width: 100%;
}
.header .header__title-wrap .header__title .header__title-1 {
  color: #FFFCF6;
  font-family: "Miracle";
  font-weight: 400;
  font-size: 13.8em;
  margin: 0;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  text-align: left;
}
.header .header__title-wrap .header__title .header__title-2 {
  color: #FCD043;
  font-family: "Miracle";
  font-weight: 400;
  font-size: 13.8em;
  margin: 0;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  text-align: left;
}
.header .header__title-wrap .header__desc {
  color: #FCD043;
  width: 100%;
  font-size: 160%;
  font-family: Helvetica;
  text-transform: uppercase;
  margin-top: 1.5em;
}
.header .header__title-wrap .header__button {
  margin-top: 2em;
  width: 12em;
  height: 3em;
  border-radius: 2em;
  background-color: #313F38;
  border-color: rgba(230, 244, 237, 0.7411764706);
  color: #FFFCF6;
  background-image: url("../../assets/img/img-page-1/img-small-star.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 10%;
  font-family: "helvetica";
  line-height: 100%;
  font-size: 1.4em;
  margin-right: 57%;
  cursor: pointer;
}
.header .header__title-wrap .header__text {
  font-family: Helvetica;
  max-width: 20em;
  width: 100%;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: left;
  color: #c8c6c2;
  margin-right: 40%;
}
@media screen and (max-width: 1600px) {
  .header .header__title-wrap .header__title .header__title-1 {
    font-size: 10.5em;
  }
  .header .header__title-wrap .header__title .header__title-2 {
    font-size: 10.5em;
  }
}
@media screen and (max-width: 1250px) {
  .header .header__title-wrap .header__desc {
    font-size: 120%;
  }
  .header .header__title-wrap .header__title .header__title-1 {
    font-size: 8em;
  }
  .header .header__title-wrap .header__title .header__title-2 {
    font-size: 8em;
  }
}
@media screen and (max-width: 1024px) {
  .header .header__title-wrap .header__title {
    align-items: center;
  }
  .header .header__title-wrap .header__button {
    display: none;
  }
  .header .header__title-wrap .header__text {
    grid-area: 1/2/3/3;
    font-size: 0.9em;
    max-width: 20em;
    width: 100%;
    margin-right: 0;
    padding-left: 0;
    margin-left: -0.1em;
  }
}
@media screen and (max-width: 750px) {
  .header .header__title-wrap .header__title .header__title-1 {
    font-size: 5em;
  }
  .header .header__title-wrap .header__title .header__title-2 {
    font-size: 5em;
  }
}
@media screen and (max-width: 600px) {
  .header .header__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__title-wrap .header__title {
    height: 9em;
    justify-content: center;
  }
  .header .header__title-wrap .header__title .header__title-1 {
    font-size: 4.5em;
  }
  .header .header__title-wrap .header__title .header__title-2 {
    font-size: 4.5em;
  }
  .header .header__title-wrap .header__button {
    display: none;
  }
  .header .header__title-wrap .header__text {
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 3em;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .header .header__title-wrap .header__desc {
    margin: 0;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
  }
  .header .header__title-wrap .header__desc:after {
    width: 15em;
    height: 0.3em;
    background: #fff;
    content: "";
    position: absolute;
    margin-top: 4em;
    opacity: 12%;
  }
}

.hd-container {
  background-color: #313F38;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 0.5fr;
  margin-left: 1.6%;
  margin-right: 1.6%;
}
.hd-container .hd-container__list {
  grid-area: 1/1/2/3;
  background-image: url("../../assets/img/img-page-1/img-room.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 4%;
  width: 100%;
  min-height: 51em;
  height: 100%;
  display: flex;
  justify-content: end;
}
.hd-container .hd-container__list .hd-container__btn {
  width: 20em;
  height: 9em;
  border: none;
  background-color: rgba(49, 63, 56, 0.48);
  font-family: Helvetica;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  text-align: left;
  padding-left: 3%;
  margin: 0;
  cursor: pointer;
}
.hd-container .hd-container__list .hd-container__btn_first {
  background-image: url("../../assets/img/img-page-1/label-arrow-top.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}
.hd-container .hd-container__list .hd-container__btn_second {
  background-image: url("../../assets/img/img-page-1/label-arrow-bottom.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}
.hd-container .hd-container__list .hd-container__btn_orange {
  background-color: #FCD043;
  color: #000000;
  text-align: center;
  padding: 0;
}
.hd-container .hd-container__list .hd-container__btn375 {
  display: none;
}
.hd-container .hd-container__contacts .hd-container__tel {
  color: #FCD043;
  -webkit-text-decoration: underline #FCD043;
          text-decoration: underline #FCD043;
  margin: 0;
  margin-bottom: 0.2em;
}
.hd-container .hd-container__contacts .hd-container__address {
  color: #FFFCF6;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.hd-container .hd-container__inf {
  color: #FFFCF6;
  text-align: right;
}
@media screen and (max-width: 1250px) {
  .hd-container .hd-container__list {
    align-items: end;
    background-size: cover;
    min-height: 32em;
    background-position-x: 60%;
  }
  .hd-container .hd-container__list .hd-container__btn {
    height: 6.5em;
    width: 15em;
  }
  .hd-container .hd-container__contacts {
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .hd-container .hd-container__inf {
    font-size: 1.2em;
    line-height: 1.3em;
  }
}
@media screen and (max-width: 475px) {
  .hd-container .hd-container__contacts,
  .hd-container .hd-container__btn_first,
  .hd-container .hd-container__btn_second {
    display: none;
  }
  .hd-container .hd-container__inf {
    font-size: 0.9em;
    text-align: left;
  }
  .hd-container .hd-container__list .hd-container__btn_orange {
    display: none;
  }
  .hd-container .hd-container__list .hd-container__btn375 {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 9em;
    min-height: 9em;
    margin-bottom: 2em;
    margin-left: 60%;
    background-image: url("../../assets/img/img-page-1/label-octagon-yellow.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.about {
  background-color: #313F38;
  background-image: url("../../assets/img/img-page-1/about_label.svg");
  background-repeat: no-repeat;
  background-position-x: 81%;
  background-position-y: 3%;
}
.about .about__wrap {
  padding: 1.5em 1.6% 15em 1.6%;
  display: flex;
  justify-content: center;
}
.about .about__wrap .about__room {
  margin-top: 8.5em;
}
.about .about__wrap .about__room_big {
  max-width: 60em;
  min-width: 30em;
  width: auto;
}
.about .about__wrap .about__info {
  flex-grow: 1;
  flex-shrink: 0.6;
  padding-left: 9%;
}
.about .about__wrap .about__info .about__name .about__name-about {
  font-family: "Miracle";
  font-size: 9.4em;
  font-weight: 400;
  color: #FCD043;
  text-transform: uppercase;
  margin: 0;
  padding-top: 1.6em;
}
.about .about__wrap .about__info .about__name .about__name-us {
  font-family: "Miracle";
  font-size: 9.4em;
  font-weight: 400;
  color: #FFFCF6;
  margin: 0;
  line-height: 0.8em;
  margin-bottom: 1.3em;
  max-width: 3.2em;
  text-align: right;
}
.about .about__wrap .about__info .about__subtitle {
  font-family: "Miracle";
  font-size: 3.1em;
  font-weight: 400;
  color: #FFFCF6;
  margin: 0;
  margin-bottom: 1em;
}
.about .about__wrap .about__info .about__text {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.1em;
  color: #FFFCF6;
  line-height: 1.5em;
  opacity: 64%;
  margin: 0;
  max-width: 25em;
}
.about .about__wrap .about__info .about__text_small {
  display: none;
}
.about .about__wrap .about__pic-btn {
  display: flex;
  flex-direction: column;
}
.about .about__wrap .about__pic-btn .about__room_small {
  margin-bottom: 10em;
  width: 100%;
}
.about .about__wrap .about__pic-btn .about__btn {
  cursor: pointer;
  background-color: #313F38;
  border: none;
  width: 20em;
  height: 15em;
  background-image: url(../../assets/img/img-page-1/button_about.svg);
  background-repeat: no-repeat;
  background-position-y: 85%;
  background-position-x: 51%;
  background-size: contain;
  color: #FFFCF6;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1em;
  padding: 0 38% 0 38%;
}
.about .about__wrap .about__pic-btn .about__btn .about__arrow {
  padding-top: 20%;
}
.about .about__wrap .about__pic-btn .about__btn:before {
  content: "Rooms";
  color: #FCD043;
  font-style: italic;
}
.about .about__wrap .about__subtitle_last,
.about .about__wrap .about__text_last {
  display: none;
}
@media screen and (max-width: 1700px) {
  .about .about__wrap .about__info .about__name .about__name-about {
    margin-left: -40%;
  }
  .about .about__wrap .about__info .about__name .about__name-us {
    margin-left: -40%;
  }
  .about .about__wrap .about__info .about__text_small {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .about .about__wrap {
    background-size: contain;
  }
  .about .about__wrap .about__room_big {
    min-width: 25em;
    height: 40em;
  }
  .about .about__wrap .about__info {
    padding-left: 5%;
  }
  .about .about__wrap .about__info .about__name .about__name-about {
    font-size: 7em;
    margin-left: -2em;
    padding-top: 1.5em;
  }
  .about .about__wrap .about__info .about__name .about__name-us {
    margin-left: -2em;
    font-size: 7em;
    margin-bottom: 1.4em;
  }
  .about .about__wrap .about__info .about__subtitle {
    font-size: 2em;
  }
  .about .about__wrap .about__info .about__text_big {
    display: none;
  }
  .about .about__wrap .about__info .about__text_small {
    display: block;
  }
  .about .about__wrap .about__pic-btn .about__room_small {
    max-width: 15em;
    width: 100%;
    margin-bottom: 0;
  }
  .about .about__wrap .about__pic-btn .about__btn {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .about {
    background-image: none;
  }
  .about .about__wrap .about__room_big {
    width: 100%;
  }
  .about .about__wrap .about__info {
    padding-left: 5%;
  }
  .about .about__wrap .about__info .about__name .about__name-about {
    font-size: 5em;
  }
  .about .about__wrap .about__info .about__name .about__name-us {
    font-size: 5em;
    margin-bottom: 2.8em;
  }
  .about .about__pic-btn .about__room_small {
    display: none;
  }
  .about .about__pic-btn .about__btn {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .about .about__wrap {
    flex-direction: column;
    padding: 1.5em 1.6% 5em 1.6%;
  }
  .about .about__wrap .about__room_big {
    order: 2;
    margin: 0;
    min-width: 5em;
    width: 100%;
    height: 100%;
  }
  .about .about__wrap .about__info {
    height: 10em;
    width: 0;
  }
  .about .about__wrap .about__info .about__name {
    order: 1;
    margin: 0;
  }
  .about .about__wrap .about__info .about__name .about__name-about {
    font-size: 4em;
    padding: 0;
    line-height: 1em;
  }
  .about .about__wrap .about__info .about__name .about__name-us {
    font-size: 4em;
    line-height: 1em;
    margin: 0;
    color: #FCD043;
  }
  .about .about__wrap .about__info .about__subtitle {
    display: none;
  }
  .about .about__wrap .about__info .about__text_big {
    display: none;
  }
  .about .about__wrap .about__info .about__text_small {
    display: none;
  }
  .about .about__wrap .about__pic-btn .about__room_small {
    display: none;
  }
  .about .about__wrap .about__pic-btn .about__btn {
    display: none;
  }
  .about .about__wrap .about__subtitle_last {
    display: block;
    order: 3;
    font-family: "Miracle";
    font-size: 2.5em;
    font-weight: 400;
    color: #FFFCF6;
    margin: 0;
    line-height: 2em;
    padding-top: 1em;
    background-image: url("../../assets/img/img-page-1/label_small.svg");
    background-repeat: no-repeat;
    background-position-y: 78%;
    background-size: 3em;
    background-position-x: 100%;
  }
  .about .about__wrap .about__text_last {
    display: block;
    order: 4;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 0.9em;
    color: #FFFCF6;
    line-height: 1.7em;
    opacity: 64%;
    margin: 0;
  }
}

.rooms {
  border-bottom: 0.05em solid rgba(192, 203, 197, 0.8117647059);
}
.rooms .rooms__quantity {
  display: none;
}
.rooms .rooms__wrap {
  padding: 9em 1.6% 5em 1.6%;
  display: grid;
  grid-template-columns: 1fr 1.3fr 0.5fr 0.5fr 1.7fr;
  grid-template-rows: 0.7fr 0.5fr 0.5fr;
}
.rooms .rooms__wrap .rooms__title {
  grid-area: 1/1/2/5;
  margin: 0;
  max-width: 1036px;
  color: #1B3B36;
  font-family: "Miracle";
  font-size: 9em;
  font-weight: 400;
  text-transform: uppercase;
}
.rooms .rooms__wrap .rooms__desc {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.6em;
  text-transform: uppercase;
  color: #1B3B36;
  margin: 0;
  padding-left: 45%;
}
.rooms .rooms__wrap .rooms__pic {
  margin: 0;
  margin-top: 12em;
}
.rooms .rooms__wrap .rooms__btn {
  grid-area: 2/2/3/5;
  width: 11em;
  height: 3em;
  border-radius: 5em;
  border-color: #313F38;
  font-family: Helvetica;
  font-size: 1.4em;
  font-weight: 400;
  background-image: url("../../assets/img/img-page-1/img-small-star.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10%;
  border-color: rgba(230, 244, 237, 0.7411764706);
  margin-top: 8.5em;
  background-color: white;
  color: #1B3B36;
  margin-left: 20%;
}
.rooms .rooms__wrap .rooms__bedroom {
  grid-area: 2/5/4/6;
  background-image: url("../../assets/img/img-page-1/img-bed-green-small.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  display: flex;
  align-items: end;
  margin: 0;
  width: 48em;
}
.rooms .rooms__wrap .rooms__bedroom .rooms__bedroom-btn {
  width: 10em;
  height: 10em;
  cursor: pointer;
  margin-bottom: 2.2em;
  margin-right: 6%;
}
.rooms .rooms__wrap .rooms__btn-arrow {
  margin: 0;
  width: 13em;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  background-color: white;
}
.rooms .rooms__wrap .rooms__btn-arrow .rooms__btn-img {
  width: 100%;
}
.rooms .rooms__wrap .rooms__info {
  grid-area: 3/2/4/5;
}
.rooms .rooms__wrap .rooms__info .rooms__subtitle {
  padding-top: 4.5em;
  font-family: "Miracle";
  font-weight: 400;
  font-size: 3.4em;
  color: #1B3B36;
  line-height: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
  min-width: 9em;
}
.rooms .rooms__wrap .rooms__info .rooms__text {
  font-size: 1.1em;
  font-weight: 400;
  font-family: Helvetica;
  color: #1B3B36;
  opacity: 80%;
  margin-bottom: 4em;
  max-width: 25em;
  margin-left: 0;
  opacity: 80%;
  line-height: 1.4em;
}
.rooms .rooms__wrap .rooms__info .rooms__page {
  font-size: 1.3em;
  font-weight: 400;
  font-family: Helvetica;
  color: #5e726f;
}
.rooms .rooms__wrap .rooms__info .rooms__page:before {
  color: #1B3B36;
  content: "01 ";
}
@media screen and (max-width: 1670px) {
  .rooms .rooms__wrap .rooms__btn {
    grid-area: 2/2/3/4;
  }
  .rooms .rooms__wrap .rooms__bedroom {
    grid-area: 2/4/4/6;
    width: 100%;
    background-size: contain;
  }
  .rooms .rooms__wrap .rooms__bedroom .rooms__bedroom-btn {
    margin: 0 0 2.2em 60%;
  }
  .rooms .rooms__wrap .rooms__info {
    grid-area: 3/2/4/4;
    margin-left: 20%;
    margin-right: 20%;
  }
  .rooms .rooms__wrap .rooms__info .rooms__subtitle {
    min-width: 1em;
    padding-top: 0;
    font-size: 2.5em;
  }
  .rooms .rooms__wrap .rooms__title {
    font-size: 7em;
  }
  .rooms .rooms__wrap .rooms__desc {
    padding-left: 30%;
    font-size: 1.1em;
  }
  .rooms .rooms__wrap .rooms__btn-arrow .rooms__btn-img {
    width: 80%;
  }
}
@media screen and (max-width: 1340px) {
  .rooms .rooms__wrap {
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
  }
  .rooms .rooms__wrap .rooms__btn-arrow .rooms__btn-img {
    width: 65%;
  }
  .rooms .rooms__wrap .rooms__title {
    font-size: 6.5em;
  }
  .rooms .rooms__wrap .rooms__btn {
    display: none;
  }
  .rooms .rooms__wrap .rooms__image {
    display: none;
  }
  .rooms .rooms__wrap rooms__pic {
    display: none;
  }
  .rooms .rooms__wrap .rooms__info {
    margin-left: 0;
    grid-area: 2/2/4/4;
  }
  .rooms .rooms__wrap .rooms__info .rooms__subtitle {
    margin-bottom: 10%;
    padding-top: 50%;
  }
  .rooms .rooms__wrap .rooms__info .rooms__text {
    line-height: 160%;
    margin-bottom: 50%;
  }
  .rooms .rooms__wrap .rooms__bedroom {
    background-position-x: right;
    min-height: 40em;
  }
  .rooms .rooms__wrap .rooms__bedroom .rooms__bedroom-btn {
    width: 8em;
    height: 8em;
  }
}
@media screen and (max-width: 960px) {
  .rooms .rooms__quantity {
    display: block;
    font-size: 1.1em;
    padding-top: 10%;
    padding-left: 80%;
    color: #1B3B36;
  }
  .rooms .rooms__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .rooms .rooms__wrap .rooms__title {
    font-size: 5em;
    max-width: 60%;
    width: 100%;
    margin-bottom: 7%;
  }
  .rooms .rooms__wrap .rooms__desc {
    padding-left: 0;
    width: 60%;
    margin-bottom: 7%;
  }
  .rooms .rooms__wrap .rooms__bedroom {
    margin-left: 0;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .rooms .rooms__wrap .rooms__bedroom .rooms__bedroom-btn {
    margin-right: 5%;
  }
  .rooms .rooms__wrap .rooms__info {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .rooms .rooms__wrap .rooms__info .rooms__page {
    order: 1;
    padding-top: 10%;
    margin: 0;
    text-align: right;
  }
  .rooms .rooms__wrap .rooms__info .rooms__subtitle {
    order: 2;
    padding-top: 10%;
  }
  .rooms .rooms__wrap .rooms__info .rooms__text {
    order: 3;
    margin: 0;
    max-width: 100%;
  }
  .rooms .rooms__wrap .rooms__btn-arrow {
    order: 1;
    width: 10em;
  }
}
@media screen and (max-width: 750px) {
  .rooms .rooms__quantity {
    padding-left: 70%;
  }
  .rooms .rooms__wrap {
    align-items: start;
  }
  .rooms .rooms__wrap .rooms__title {
    font-size: 3.5em;
    max-width: 100%;
    text-align: center;
  }
  .rooms .rooms__wrap .rooms__desc {
    width: 150px;
    font-size: 0.75em;
  }
  .rooms .rooms__wrap .rooms__bedroom {
    margin-left: 0;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
  }
  .rooms .rooms__wrap .rooms__bedroom .rooms__bedroom-btn {
    margin-right: 5%;
  }
  .rooms .rooms__wrap .rooms__info {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .rooms .rooms__wrap .rooms__info .rooms__page {
    order: 1;
    padding-top: 10%;
    margin: 0;
    text-align: right;
  }
  .rooms .rooms__wrap .rooms__info .rooms__subtitle {
    order: 2;
    padding-top: 10%;
  }
  .rooms .rooms__wrap .rooms__info .rooms__text {
    order: 3;
    margin: 0;
    max-width: 100%;
    font-size: 0.9em;
  }
  .rooms .rooms__wrap .rooms__btn-arrow {
    order: 1;
  }
}

.faci-lities {
  padding: 5em 1.6% 8em 1.6%;
  display: grid;
  grid-template-rows: 1fr 0.6fr;
  grid-template-columns: 0.9fr 1fr 0.8fr;
}
.faci-lities .faci-lities__title {
  margin: 0;
  color: #1B3B36;
  font-family: "Miracle";
  text-transform: uppercase;
  max-width: 657px;
  display: flex;
  flex-direction: column;
}
.faci-lities .faci-lities__title .faci-lities__title-part1 {
  max-width: 300px;
  width: 100%;
  margin: 0;
  font-size: 9em;
  font-weight: 400;
  line-height: 1em;
}
.faci-lities .faci-lities__title .faci-lities__title-part2 {
  font-size: 9em;
  font-weight: 400;
  text-align: right;
  margin: 0;
  background-image: url("../../assets/img/img-page-1/img-small-star.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 20%;
  background-size: 10%;
}
.faci-lities .faci-lities__barman {
  display: flex;
  margin: 0;
  align-items: start;
  background-image: url("../../assets/img/img-page-1/img-barman.png");
  background-repeat: no-repeat;
  background-position-x: 6em;
  background-position-y: 60%;
  min-width: 550px;
  width: 100%;
}
.faci-lities .faci-lities__barman .faci-lities__barman-lable {
  margin: 0;
}
.faci-lities .faci-lities__desc {
  font-family: Helvetica;
  font-weight: 400;
  color: #1B3B36;
  font-size: 1.6em;
  max-width: 38%;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}
.faci-lities .faci-lities__cook {
  margin: 0;
}
.faci-lities .faci-lities__text {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #1B3B36;
  opacity: 80%;
  max-width: 55%;
  width: 100%;
  margin: 0;
  padding-top: 25%;
}
@media screen and (max-width: 1670px) {
  .faci-lities .faci-lities__desc {
    font-size: 1.1em;
  }
  .faci-lities .faci-lities__title .faci-lities__title-part1 {
    font-size: 7em;
  }
  .faci-lities .faci-lities__title .faci-lities__title-part2 {
    font-size: 7em;
  }
  .faci-lities .faci-lities__barman {
    background-size: contain;
    min-width: 0;
    width: 100%;
    background-position-x: 4em;
  }
  .faci-lities .faci-lities__barman .faci-lities__barman-lable {
    display: none;
  }
  .faci-lities .faci-lities__cook .faci-lities__cook-pic {
    max-width: 24em;
    width: 100%;
  }
  .faci-lities .faci-lities__text {
    padding-top: 13%;
    max-width: 65%;
    width: 100%;
  }
}
@media screen and (max-width: 1340px) {
  .faci-lities .faci-lities__title .faci-lities__title-part1,
  .faci-lities .faci-lities__title .faci-lities__title-part2 {
    font-size: 6.5em;
  }
}
@media screen and (max-width: 1250px) {
  .faci-lities {
    grid-template-columns: 0.9fr 1fr 0.4fr;
  }
  .faci-lities .faci-lities__barman {
    display: none;
  }
  .faci-lities .faci-lities__desc {
    grid-area: 1/3/3/4;
    max-width: 200px;
    text-align: right;
  }
  .faci-lities .faci-lities__cook {
    grid-area: 1/1/3/2;
    background-image: url("../../assets/img/img-page-1/label-bank-hotel-premium room.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: 70%;
    background-position-y: 30%;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .faci-lities .faci-lities__cook .faci-lities__cook-pic {
    width: 65%;
    margin: 0;
  }
}
@media screen and (max-width: 960px) {
  .faci-lities {
    padding: 5em 1.6% 1em 1.6%;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 0.8fr 1.3fr 0.5fr;
    justify-items: center;
  }
  .faci-lities .faci-lities__title {
    grid-area: 1/1/2/2;
    display: flex;
    padding-left: 50%;
  }
  .faci-lities .faci-lities__title .faci-lities__title-part1 {
    font-size: 5em;
  }
  .faci-lities .faci-lities__title .faci-lities__title-part2 {
    font-size: 5em;
    background-position-x: 10%;
  }
  .faci-lities .faci-lities__desc {
    grid-area: 1/2/2/3;
  }
  .faci-lities .faci-lities__cook {
    grid-area: 2/1/3/3;
    background-image: none;
    display: flex;
    justify-content: center;
  }
  .faci-lities .faci-lities__cook .faci-lities__cook-pic {
    max-width: 100%;
    width: 100%;
  }
  .faci-lities .faci-lities__text {
    grid-area: 3/1/4/3;
    padding-top: 6%;
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .faci-lities {
    padding: 4em 1.6% 5em 1.6%;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 0.5fr 0.6fr 0.5fr;
  }
  .faci-lities .faci-lities__title {
    padding-left: 20%;
  }
  .faci-lities .faci-lities__title .faci-lities__title-part1 {
    font-size: 3.5em;
  }
  .faci-lities .faci-lities__title .faci-lities__title-part2 {
    font-size: 3.5em;
    margin-right: -1.5em;
  }
  .faci-lities .faci-lities__cook {
    margin-top: 5%;
    width: 60%;
    align-items: start;
    margin-left: -4em;
  }
  .faci-lities .faci-lities__desc {
    font-size: 1em;
    max-width: 8.7em;
    width: 100%;
  }
  .faci-lities .faci-lities__text {
    font-size: 0.9em;
    max-width: 70%;
    padding-left: 25%;
    padding-top: 10%;
  }
}

.restaurant {
  padding: 0 1.6% 8em 1.6%;
}
.restaurant .restaurant__wrap {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.8fr;
  grid-template-rows: 1fr 0.2fr 0.5fr;
  justify-items: start;
}
.restaurant .restaurant__wrap .restaurant__btn {
  grid-area: 1/1/4/2;
  border: none;
  background-color: white;
  margin: 0;
  margin-top: 15em;
  cursor: pointer;
}
.restaurant .restaurant__wrap .restaurant__page {
  color: #1B3B36;
  font-family: "Miracle";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 80px;
  margin: 0;
}
.restaurant .restaurant__wrap .restaurant__name {
  color: #1B3B36;
  font-family: "Miracle";
  font-weight: 400;
  font-size: 80px;
  margin: 0;
  max-width: 5em;
  line-height: 1em;
  width: 100%;
  margin-bottom: 5%;
}
.restaurant .restaurant__wrap .restaurant__text {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5em;
  color: #1B3B36;
  opacity: 80%;
  max-width: 24.6em;
  width: 100%;
  margin: 0;
  padding-right: 10%;
}
.restaurant .restaurant__wrap .restaurant__pic {
  grid-area: 1/3/4/4;
}
.restaurant .restaurant__wrap .restaurant__pic .restaurant__image {
  width: 100%;
}
.restaurant .restaurant__desc {
  display: none;
}
@media screen and (max-width: 1440px) {
  .restaurant .restaurant__wrap .restaurant__page {
    font-size: 3em;
  }
  .restaurant .restaurant__wrap .restaurant__name {
    font-size: 3em;
  }
  .restaurant .restaurant__wrap .restaurant__text {
    max-width: 18.5em;
  }
  .restaurant .restaurant__desc {
    display: block;
    font-family: Helvetica;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    color: #1B3B36;
    padding-top: 1em;
    width: 13%;
    margin: 0;
    padding-left: 70%;
  }
  .restaurant .restaurant__desc:before {
    font-style: normal;
    content: "Art & Congress ";
  }
}
@media screen and (max-width: 1250px) {
  .restaurant .restaurant__wrap .restaurant__page {
    font-size: 2.4em;
  }
  .restaurant .restaurant__wrap .restaurant__name {
    font-size: 2.4em;
  }
  .restaurant .restaurant__wrap .restaurant__btn {
    margin-top: 3em;
  }
  .restaurant .restaurant__wrap .restaurant__btn .restaurant__btn-image {
    width: 7.5em;
  }
  .restaurant .restaurant__desc {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .restaurant {
    padding: 0 1.6% 4em 1.6%;
  }
  .restaurant .restaurant__wrap {
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.3fr;
    align-items: start;
    max-height: 70em;
  }
  .restaurant .restaurant__wrap .restaurant__pic {
    grid-area: 1/1/2/3;
    margin-bottom: 10%;
  }
  .restaurant .restaurant__wrap .restaurant__pic .restaurant__image {
    width: 100%;
  }
  .restaurant .restaurant__wrap .restaurant__btn {
    grid-area: 3/1/4/2;
    margin-top: 0;
  }
  .restaurant .restaurant__wrap .restaurant__page {
    grid-area: 2/1/3/2;
  }
  .restaurant .restaurant__wrap .restaurant__name {
    max-width: 100%;
  }
  .restaurant .restaurant__wrap .restaurant__text {
    max-width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 750px) {
  .restaurant .restaurant__wrap .restaurant__page {
    font-size: 2em;
  }
  .restaurant .restaurant__wrap .restaurant__name {
    font-size: 2em;
    max-width: 5em;
  }
  .restaurant .restaurant__wrap .restaurant__btn .restaurant__btn-image {
    width: 5.5em;
  }
  .restaurant .restaurant__wrap .restaurant__text {
    font-size: 0.9em;
  }
}

.page {
  padding: 0 1.6% 8em 1.6%;
  display: flex;
  flex-direction: column;
}
.page .page__numder-one {
  margin: 0;
  display: grid;
  grid-template-columns: 0.5fr 0.3fr 1fr 0.3fr;
  align-items: center;
  min-height: 22em;
  height: 100%;
  border-bottom: 0.05em solid rgba(192, 203, 197, 0.8117647059);
}
.page .page__numder-one .page__number,
.page .page__numder-one .page__name {
  color: #1B3B36;
  font-family: "Miracle";
  font-weight: 400;
  font-size: 80px;
}
.page .page__numder-one .page__btn {
  border: none;
  background-color: white;
  cursor: pointer;
}
.page .page__number-two {
  margin: 0;
  display: grid;
  grid-template-columns: 0.5fr 0.3fr 1fr 0.3fr;
  align-items: center;
  min-height: 22em;
  height: 100%;
  border-bottom: 0.05em solid rgba(192, 203, 197, 0.8117647059);
}
.page .page__number-two .page__number,
.page .page__number-two .page__name {
  color: #1B3B36;
  font-family: "Miracle";
  font-weight: 400;
  font-size: 80px;
}
.page .page__number-two .page__btn {
  border: none;
  background-color: white;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .page .page__numder-one .page__number,
  .page .page__numder-one .page__name {
    font-size: 3em;
  }
  .page .page__number-two .page__number,
  .page .page__number-two .page__name {
    font-size: 3em;
  }
}
@media screen and (max-width: 1250px) {
  .page .page__numder-one .page__number,
  .page .page__numder-one .page__name {
    font-size: 2.4em;
  }
  .page .page__number-two .page__number,
  .page .page__number-two .page__name {
    font-size: 2.4em;
  }
}
@media screen and (max-width: 960px) {
  .page .page__btn {
    display: none;
  }
  .page .page__numder-one {
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr 0.2fr;
  }
  .page .page__numder-one .page__name {
    padding-top: 10%;
  }
  .page .page__number-two {
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr 0.2fr;
    margin-top: 3%;
  }
  .page .page__number-two .page__name {
    padding-top: 10%;
  }
}
@media screen and (max-width: 750px) {
  .page .page__numder-one .page__number,
  .page .page__numder-one .page__name {
    font-size: 2em;
  }
  .page .page__numder-one .page__image-wrap .page__image {
    width: 100%;
  }
  .page .page__number-two .page__number,
  .page .page__number-two .page__name {
    font-size: 2em;
  }
  .page .page__number-two .page__image-wrap .page__image {
    width: 100%;
  }
.container {
  width: 100vw;
}

.best-apartments {
  background-image: url(/assets/img/img-page-1/img-bedroom-grey.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
}

.best-apartments__img {
  margin-top: 200px;
}

.best-apartments__title {
  color: #FCD043;
  text-transform: uppercase;
  padding-top: 100px;
  margin-left: 31px;
  margin-bottom: 250px;
  width: 872px;
  font-family: "Miracle";
}

.best-apartments__text {
  color: #FCD043;
  text-transform: uppercase;
  margin-left: 31px;
  width: 440px;
}

.our-gallery {
  padding-top: 20em;
  background-color: #313F38;
  /*height: 2460px;*/
  width: 100%;
  display: grid;
  grid-template-columns: 19% 4% 54% 4% 19%;
  grid-template-rows: 18em 10em 8em 32em 15em 25em 18em;
  /*grid-template-rows: 18em 135px 130px 488px 208px 394px 200px;*/
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .our-gallery {
    padding-top: 17em;
    grid-template-columns: 19% 4% 54% 4% 19%;
    grid-template-rows: 18em 10em 8em 32em 15em 25em;
  }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
  .our-gallery {
    padding-top: 6em;
    grid-template-columns: 9% 2% 62% 2% 25%;
  }
}

.our-gallery__text-element-left {
  margin-left: 6%;
  height: 62px;
  width: 90%;
  color: #FFFCF6;
  grid-area: 1/1/2/2;
  /*grid-area: 1 / 1 / 2 / 2;*/
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .our-gallery__text-element-left {
    visibility: hidden;
  }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
  .our-gallery__text-element-left {
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
  }
}

.our-gallery__center-section {
  margin-left: 1%;
  margin-right: 1%;
  /*height: 1424px;*/
  grid-area: 1/3/5/4;
  justify-items: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

.our-gallery__logo {
  height: 107px;
  width: 150px;
  grid-area: 1/1/2/2;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .our-gallery__logo {
    width: 100px;
    height: 72px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
  .our-gallery__logo {
    width: 70px;
    height: 50.35px;
    align-self: flex-start;
  }
}
@media screen and (max-width: 720px) {
  .our-gallery__logo {
    width: 50px;
    height: 70px;
  }
}

.our-gallery__img-logo {
  width: 100%;
}

.our-gallery__title {
  color: #FCD043;
  margin-top: 0.35em;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  opacity: 80%;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .our-gallery__title {
    font-size: 125px;
    line-height: 105px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 640px) {
  .our-gallery__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    line-height: 80px;
  }
}
@media screen and (max-width: 720px) {
  .our-gallery__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.our-gallery__bench {
  margin-top: 6em;
  margin-left: 0;
  margin-bottom: 342px;
  grid-area: 2/1/3/2;
  height: 284px;
  width: 312px;
  cursor: pointer;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .our-gallery__bench {
    margin-top: 0;
    height: 227px;
    width: 312px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) and (min-width: 620px) {
  .our-gallery__bench {
    margin-top: 2em;
    height: 192px;
    width: 170px;
    overflow: hidden;
  }
}

.our-gallery__img-bench {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .our-gallery__img-bench {
    margin: -55px 0 0 -100px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 620px) {
  .our-gallery__img-bench {
    margin: -55px 0 0 -50px;
  }
}

.our-gallery__text-element {
  margin-bottom: 9em;
  width: 450px;
  height: 112px;
  text-align: center;
  color: #FFFCF6;
  opacity: 80%;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .our-gallery__text-element {
    margin-bottom: 5em;
  }
}
@media screen and (max-width: 1024px) {
  .our-gallery__text-element {
    margin-bottom: 70px;
    font-size: 13px;
    line-height: 23px;
    height: 92px;
    width: 350px;
  }
}

.our-gallery__lobby {
  margin-top: 6em;
  margin-left: 0;
  height: 400px;
  grid-area: 2/5/3/6;
  cursor: pointer;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .our-gallery__lobby {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .our-gallery__lobby {
    margin-top: 3.5em;
    width: 144.5px;
    height: 147px;
    justify-self: end;
  }
}

.our-gallery__img-lobby {
  width: 100%;
  height: 100%;
}

.our-gallery__reception {
  margin-top: 12em;
  margin-right: 0;
  width: 237px;
  height: 236px;
  grid-area: 3/5/4/6;
  /*grid-area: 2 / 5 / 3 / 6;*/
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .our-gallery__reception {
    grid-area: 2/5/3/6;
    margin-top: 0;
    display: block;
  }
}

.our-gallery__fireplace {
  height: 600px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .our-gallery__fireplace {
    height: 452px;
    width: 690px;
  }
}
@media screen and (max-width: 1025px) and (min-width: 720px) {
  .our-gallery__fireplace {
    align-self: flex-start;
    height: 316px;
    width: 482px;
  }
}

.our-gallery__img-reception {
  width: 100%;
  height: 100%;
}

.our-gallery__img-fireplace {
  width: 98%;
}

.our-gallery__octagon-text {
  margin-top: 6em;
  margin-left: 6em;
  justify-self: start;
  display: flex;
}
@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .our-gallery__octagon-text {
    margin-top: 4em;
    margin-left: 3em;
    align-self: flex-start;
  }
}

.our-gallery__label-octagon-yellow {
  margin: 0;
  height: 50px;
  width: 50px;
  align-self: center;
}

.our-gallery__text-element-near-octagon {
  margin-left: 30px;
  font-family: Helvetica;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  color: #FFFCF6;
  height: 52px;
  width: 350px;
  opacity: 80%;
}

.our-gallery__dining-area {
  margin-left: 4%;
  height: 394px;
  grid-area: 5/1/6/2;
  cursor: pointer;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .our-gallery__dining-area {
    margin-top: 13em;
    grid-area: 4/1/5/2;
    width: 241.44px;
    height: 300.85px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 720px) {
  .our-gallery__dining-area {
    height: 174px;
    width: 140px;
  }
}

.our-gallery__img-dining-area {
  width: 96%;
  height: 100%;
}

.our-gallery__bathroom-mirror {
  margin-top: 19em;
  margin-right: 0;
  width: 443px;
  height: 284px;
  grid-area: 5/4/6/6;
  cursor: pointer;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .our-gallery__bathroom-mirror {
    margin-top: 0em;
    width: 335px;
    height: 215px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 720px) {
  .our-gallery__bathroom-mirror {
    height: 251px;
    width: 161px;
  }
}

.our-gallery__img-bathroom-mirror {
  width: 100%;
  position: relative;
  z-index: 2;
}

.our-gallery__background-text {
  grid-area: 7/1/8/6;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .our-gallery__background-text {
    grid-area: 6/1/7/6;
  }
}

.our-gallery__background-text-img {
  width: 100%;
  position: relative;
  display: flex;
  z-index: 1;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .our-gallery__background-text-img {
    top: -4em;
  }
}

.footer {
  width: 100vw;
  background-color: #FFFCF6;
  color: #1B3B36;
}

.footer__get-in-touch {
  margin: 1%;
  padding-top: 300px;
  display: grid;
  grid-template-columns: 47% 20% 26% 7%;
  grid-template-rows: 20% 20% 35% 25%;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .footer__get-in-touch {
    grid-template-columns: 52% 15% 26% 7%;
    padding-top: 250px;
  }
}

.footer__phone-number {
  margin: 0;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  width: 671px;
  height: 80px;
  grid-area: 1/1/2/2;
}

.footer__phone-number:after {
  content: "";
  background-color: #313F38;
  height: 1px;
  width: 100%;
  opacity: 48%;
  display: block;
}

.footer__address {
  height: 62px;
  width: 284px;
  margin: 0;
  grid-area: 2/3/3/4;
  cursor: pointer;
}

.footer__get-in {
  margin: 0;
  font-family: "Miracle";
  font-size: 300px;
  font-weight: 400;
  line-height: 300px;
  grid-area: 3/1/4/2;
  text-transform: uppercase;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .footer__get-in {
    font-size: 250px;
    line-height: 250px;
  }
}

.footer__touch {
  grid-area: 4/2/5/4;
  font-family: "Miracle";
  font-size: 300px;
  font-weight: 400;
  line-height: 300px;
  height: 300px;
  position: relative;
  top: 75px;
  left: -40px;
  color: #FCD043;
  text-transform: uppercase;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .footer__touch {
    font-size: 250px;
    line-height: 250px;
    top: 25px;
    left: -183px;
  }
}

.footer__star {
  width: 150px;
  height: 150px;
  grid-area: 3/2/4/3;
  justify-self: center;
  align-self: center;
}

.footer__couch {
  width: 443px;
  grid-area: 3/3/5/4;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .footer__couch {
    height: 335px;
    width: 335px;
  }
}

.footer__img-couch {
  width: 100%;
}

.footer__form {
  padding-top: 70px;
  padding-left: 30px;
}

.footer__form-name {
  margin-top: 145px;
  margin-bottom: 50px;
  text-align: left;
  text-transform: uppercase;
}

.search-form {
  margin-left: 0;
  padding-bottom: 200px;
}
@media screen and (max-width: 1680px) and (min-width: 1025px) {
  .search-form {
    display: flex;
    width: 57%;
  }
}

.search-form__btn {
  width: 20em;
  height: 9em;
  margin: 0;
  padding-left: 2%;
  background-color: #FFFCF6;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  /*border: 1px solid $color-dark-green;*/
  border-right: none;
  cursor: pointer;
}

.check-in {
  border-right: none;
}

.check-out {
  border-left: none;
}

.search-form__check-in {
  background-image: url("../../assets/img/img-page-1/label-arrow-bottom.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}

.search-form__check-out {
  margin-left: -10px;
  background-image: url("../../assets/img/img-page-1/label-arrow-bottom.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}

.search-form__book-room {
  margin-left: -10px;
  background-color: #313F38;
  color: #FFFCF6;
  text-align: center;
  padding: 0;
}

.footer__form:after {
  content: "";
  margin-bottom: 100px;
  background-color: #313F38;
  height: 1px;
  width: 90%;
  opacity: 24%;
  display: block;
}

.footer__short-information {
  margin: 0;
  padding-left: 30px;
  display: flex;
}

.footer__about-us {
  padding-right: 187px;
}

.footer__news {
  padding-right: 156px;
}

.footer__title {
  padding-bottom: 46px;
  text-transform: uppercase;
}

.footer__title-slash {
  color: #FCD043;
}

.footer__text {
  width: 285px;
  height: 84px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer__about-us-text {
  padding-bottom: 70px;
}

.footer__news-text {
  padding-bottom: 30px;
}

.footer__company-rights {
  margin-bottom: 100px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  opacity: 32%;
}

.footer__email {
  height: 64px;
  width: 285px;
  padding-left: 20px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 64%;
  cursor: pointer;
}

.footer__email-form-btn {
  height: 17px;
  width: 31px;
  position: relative;
  left: -50px;
  background: none;
  border: none;
  opacity: 48%;
  cursor: pointer;
}

.footer__social-networks {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.footer__link {
  padding-right: 50px;
  text-decoration: none;
  color: #313F38;
  cursor: pointer;
}/*# sourceMappingURL=style-page-1.css.map */