@import '../vars';
@import '../mixins';

* {
  margin: 0;       //auto
  padding: 0;
  max-width: 1920px;
}

%font-style-hd-container{
  font-family: $font-Helvetica;
  font-size: 160%;
  font-weight: $font-weight-400;        
  line-height: 100%;
  padding-top: 3em;
  text-transform: uppercase;
  width: 100%;
}

.menu{
  width: 100%;
height: 8em;
background-color: $color-dark-green;
display: flex;
justify-content: space-between;
align-items: center;
.menu__burger,
.menu__br-lable{
  display: none;
  }


.menu__name{
  font-size: 1.5em;
  font-weight: $font-weight-500;
  line-height: 100%;
  color: $color-white;
  margin-left: 1.6%;
  font-family: $font-Helvetica;
}
.menu__nav{
  width: 55%;
  .menu__list{
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0;
      .menu__item{
          .menu__link{
              text-decoration: none;
              color: $color-white;
              font-weight: $font-weight-400;
              font-size: 1em;
              text-transform: uppercase;
              font-family: $font-Helvetica;
          }
      }
  }
}

.menu__tel{
  font-size: 1.2em;
  font-weight: $font-weight-400;
  color: $color-white;
  margin-right: 1.6%;
  font-family: $font-Helvetica;
}

@media screen and (max-width: 1024px){
  height: 5em;
  .menu__br-lable{
      display: block;
      color: $color-white;
      margin-right: 2.5%;
      cursor: pointer;
      font-size: 4em;
  }
  .menu__br-lable::before {
    content: "\003D";
  }
  .menu__tel{
      display: none;
  }
  .menu__nav{
      display: none;
      padding-left: 40%;
      .menu__list{
          display: flex;
          flex-direction: column;
          background-color: $color-dark-green;
          justify-content: space-between;
          height: 19em;
          position: absolute;
          width: 50%;
          margin-top: -1em;
          right: 1em;
      }
  }
  
  .menu__burger:checked + .menu__br-lable + .menu__nav{
      display: block;
      position: absolute;
  }
  .menu__burger:checked + .menu__br-lable::before {
      content: '\2716';
      position: relative;
      font-size: 60%;
    }
}

}

.header{
  background-color: $color-dark-green;
  .header__title-wrap{
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 0;
      padding-left: 1.6%;
      .header__title{
          display:flex;       
          width: 100%;
          .header__title-1{
              color: $color-white;
              font-family: $font-Miracle;
              font-weight: $font-weight-400;
              font-size: 13.8em;
              margin: 0;
              max-width: max-content;
              width: 100%;
              text-align: left;
          }
          .header__title-2{
              color: $color-yellow;
              font-family: $font-Miracle;
              font-weight: $font-weight-400;
              font-size: 13.8em;
              margin: 0;
              max-width: max-content;
              width: 100%;
              text-align: left;
          }
      }
      .header__desc{
          color: $color-yellow;
          width: 100%;
          font-size: 160%;
          font-family: $font-Helvetica;  
          text-transform: uppercase;
          margin-top: 1.5em;
      }
      .header__button{
          margin-top: 2em;
          width: 12em;
          height: 3em;
          border-radius: 2em;
          background-color: $color-dark-green;
          border-color: #e6f4edbd;
          color: $color-white;
          background-image: url('../../assets/img/img-page-1/img-small-star.png');
          background-repeat: no-repeat;
          background-position: center;
          background-position-x: 10%;
          font-family: $font-Helvetica;
          line-height: 100%;
          font-size: 1.4em;
          margin-right: 57%;
          cursor: pointer;
          
      }
      .header__text{
        font-family: $font-Helvetica;
          max-width: 20em;
          width: 100%;
          font-weight: $font-weight-400;
          font-size: 1.1em;
          line-height: 1.5em;
          text-align: left;
          color: #c8c6c2;
          margin-right: 40%;
      }
  }

  @media screen and (max-width: 1600px){
    .header__title-wrap{
      .header__title{
        .header__title-1{
            font-size: 10.5em;
        }
        .header__title-2{
            font-size: 10.5em;
        }
    }
    }
  }

  @media screen and (max-width: 1250px){
    .header__title-wrap{
      .header__desc{
        font-size: 120%;
      }
      .header__title{
        .header__title-1{
            font-size: 8em;
        }
        .header__title-2{
            font-size: 8em;
        }
    }
    }
  }

  @media screen and (max-width: 1024px){
      .header__title-wrap{
          .header__title{
              align-items: center;
          }
          .header__button{
              display: none;
          }
          .header__text{
              grid-area: 1/2/3/3;
              font-size: 0.9em;
              max-width: 20em;
              width: 100%;
              margin-right: 0;
              padding-left: 0;
              margin-left: -0.1em;
          }
      }
  }

  @media screen and (max-width: 750px){
    .header__title-wrap{
      .header__title{
        .header__title-1{
            font-size: 5em;
        }
        .header__title-2{
            font-size: 5em;
        }
    }
    }
  }

  @media screen and (max-width: 600px){
      .header__title-wrap{
          display: flex;
          flex-direction: column;
          align-items: center;
          
          .header__title{
              height: 9em;
              justify-content: center;
              .header__title-1{
                  font-size: 4.5em;
              }
              .header__title-2{
                  font-size: 4.5em;
              }
          }
          .header__button{
              display: none;
          }
          .header__text{
              font-size: 0.9em;
              width: 100%;
              margin-bottom: 3em;
              padding: 0;
              text-align: center;
              display: flex;
              justify-content: center;
          }
          .header__desc{
              margin: 0;
              font-size: 0.75em;
              display: flex;
              justify-content: center;
              margin-bottom: 5em;
              }
              .header__desc:after { 
                width: 15em; 
                height: 0.3em; 
                background: #fff;
                content:"";
                position: absolute;
              margin-top: 4em;            
              opacity: 12%;
            }
      }

  }
}

.hd-container{
  background-color: $color-dark-green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 0.5fr;  
  margin-left: 1.6%;
  margin-right: 1.6%;
  .hd-container__list{
      grid-area: 1/1/2/3;
      background-image: url('../../assets/img/img-page-1/img-room.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 4%;
      width: 100%;
      min-height: 51em;
      height: 100%;
      display: flex;
      justify-content: end;
      
      .hd-container__btn{
          width: 20em;
          height: 9em;
          border: none;
          background-color: rgba(49, 63, 56, 0.48);
          font-family: $font-Helvetica;
          font-size: 1em;
          text-transform: uppercase;
          font-weight: $font-weight-500;
          color: white;
          text-align: left;
          padding-left: 3%;
          margin: 0;
          cursor: pointer;
      }
      .hd-container__btn_first{
          background-image: url('../../assets/img/img-page-1/label-arrow-top.png');
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 90%;            
      }
      .hd-container__btn_second{
          background-image: url('../../assets/img/img-page-1/label-arrow-bottom.png');
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 90%;  

      }
      .hd-container__btn_orange{
          background-color: $color-yellow;
          color: #000000;
          text-align: center;
          padding: 0;
      }
      .hd-container__btn375{
        display: none
      }
  }
  .hd-container__contacts{
      @extend %font-style-hd-container;
      
      .hd-container__tel{
          color: $color-yellow;
          text-decoration: underline $color-yellow;
          margin: 0;
          margin-bottom: 0.2em;
          
      }
      .hd-container__address{
          color: $color-white;
          text-decoration: underline $color-white;
      }
      }
  .hd-container__inf{
      @extend %font-style-hd-container;
      color: $color-white;
      text-align: right;
  }

  @media screen and (max-width: 1250px){
      .hd-container__list{
          align-items: end;
          background-size: cover;
          min-height: 32em;
          background-position-x: 60%;
          .hd-container__btn{
          height: 6.5em;
          width: 15em;
      }
      }
      .hd-container__contacts{
          font-size: 1.2em;
          line-height: 1.3em;
      }
      .hd-container__inf{
          font-size: 1.2em;
          line-height: 1.3em;
      }
  }

  @media screen and (max-width: 475px){
      .hd-container__contacts,
      .hd-container__btn_first,
      .hd-container__btn_second{
          display: none;
      }
      .hd-container__inf{
          font-size: 0.9em;
          text-align: left;
      }
      .hd-container__list{
          .hd-container__btn_orange{
            display: none;
          }
          .hd-container__btn375{
            display: flex;
            align-items: center;
            font-family: $font-Helvetica;
            font-size: 0.9em;
            font-style: italic;   
            font-weight: $font-weight-400; 
            color: #000000; 
            text-decoration: none;  
            text-transform: uppercase;     
            min-width: 9em;
            min-height: 9em;
            margin-bottom: 2em;
            margin-left: 60%;
            background-image: url('../../assets/img/img-page-1/label-octagon-yellow.png');
            background-repeat: no-repeat;
            background-size: contain;
          }
          .hd-container__btn375-book-room {
            padding-left: 1em;
          }
      }
  }
}

.main {
  max-width: 1920px;
  width: 100vw;
}

.about{
  background-color: $color-dark-green;
  background-image: url('../../assets/img/img-page-1/about_label.svg');
  background-repeat: no-repeat;
  background-position-x: 81%;
  background-position-y: 3%;
  .about__wrap{
    padding: 1.5em 1.6% 15em 1.6%; 
    display: flex;
    justify-content: center;
    .about__room{
      margin-top: 8.5em;
    }
    .about__room_big{
      max-width: 60em;
      min-width: 30em;
      width: auto;
    }
    .about__info{
      flex-grow: 1; 
      flex-shrink: 0.6;     
      padding-left: 9%;
      .about__name{
      .about__name-about{
        font-family: $font-Miracle;
        font-size: 9.4em;
        font-weight: $font-weight-400;
        color: $color-yellow;
        text-transform: uppercase;
        margin: 0;
        padding-top: 1.6em;
      }
    .about__name-us{
      font-family: $font-Miracle;
      font-size: 9.4em;
      font-weight: $font-weight-400;
      color: $color-white;
      margin: 0;
      line-height: 0.8em;
      margin-bottom: 1.3em;
      max-width: 3.2em;
      text-align: right;
  }}
  .about__subtitle{
    font-family: $font-Miracle;
      font-size: 3.1em;
      font-weight: $font-weight-400;
      color: $color-white;
      margin: 0;
      margin-bottom: 1em;
  }
  .about__text{
    font-family: $font-Helvetica;
    font-weight: $font-weight-400;
      font-size: 1.1em;
      color: $color-white;
      line-height: 1.5em;
      opacity: 64%;
      margin: 0;
      max-width: 25em;
  }
  .about__text_small{
    display: none;
  }
}
.about__pic-btn{
  display: flex;
  flex-direction: column;
  .about__room_small{
      margin-bottom: 10em;
      width: 100%;
  }
.about__btn{
  cursor: pointer;
  background-color: $color-dark-green;
  border: none;
  width: 20em;
  height: 15em;
  background-image: url('../../assets/img/img-page-1/button_about.svg');
  background-repeat: no-repeat;
  background-position-y: 85%;
  background-position-x: 51%; 
  background-size: contain;  
  color: $color-white;
  font-family: $font-Helvetica;
  font-weight: $font-weight-400;
  font-size: 1em;
  padding: 0 38% 0 38%;
  .about__arrow{
    padding-top: 20%;
  }
}
.about__btn:before{
  content: "Rooms";
  color: $color-yellow;
  font-style: italic;
}

}
.about__subtitle_last, 
.about__text_last{
  display: none;
}
}

@media screen and (max-width: 1700px){
  .about__wrap{
    .about__info{
      .about__name{
      .about__name-about{
        margin-left: -40%;
      }
      .about__name-us{
        margin-left: -40%;
      }
    }
      .about__text_small{
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1400px){
  .about__wrap{
    background-size: contain;
    .about__room_big{
      min-width: 25em;
      height: 40em;
    }
    .about__info{
      padding-left: 5%;
      .about__name{
      .about__name-about{
        font-size: 7em;
      margin-left: -2em;
      padding-top: 1.5em;
      }
      .about__name-us{
        margin-left: -2em;
        font-size: 7em;
        margin-bottom: 1.4em;
        }
      }
        .about__subtitle{
          font-size: 2em;
        }
        .about__text_big{
          display: none;
        }
        .about__text_small{
          display: block;
        }
        
    }
    .about__pic-btn{
      .about__room_small{
        max-width: 15em;
        width: 100%;
        margin-bottom: 0;
      }
    .about__btn{
      display: none;
    }
  }
}
}
@media screen and (max-width: 960px){
  background-image: none;
  .about__wrap{
    .about__room_big{
      width: 100%;}
      .about__info{
        padding-left: 5%;
        .about__name{
        .about__name-about{
          font-size: 5em;
        }
        .about__name-us{
          font-size: 5em;
          margin-bottom: 2.8em;
          }
        }
    }
  }
  .about__pic-btn{
    .about__room_small{
      display: none;
    }
  .about__btn{
    display: none;
  }
}
}
@media screen and (max-width: 750px) {
  .about__wrap{
    flex-direction: column;
    padding: 1.5em 1.6% 5em 1.6%;
    .about__room_big{
      order: 2;
      margin: 0;
      min-width: 5em;
      width: 100%;
      height: 100%;
    }
.about__info{
        height: 10em;
        width: 0;
        .about__name{
          order: 1;
          margin: 0;
          .about__name-about{
            font-size: 4em;
            padding: 0;
            line-height: 1em;
            @media screen and (max-width: 749px){
              padding-left: 1.8em;
            }
          }
          .about__name-us{
            font-size: 4em;
            line-height: 1em;
            margin: 0;
            color:$color-yellow ;
            padding-left: 2em;
          }
        }
        .about__subtitle{
          display: none;
        }
        .about__text_big{
          display: none;
        }
        .about__text_small{
          display: none;
        }
      }
      .about__pic-btn{
        .about__room_small{
          display: none;
        }
      .about__btn{
        display: none;
      }
    }
    .about__subtitle_last{
      display: block;
      order: 3;
      font-family: $font-Miracle;
        font-size: 2.5em;
        font-weight: $font-weight-400;
        color: $color-white;
        margin: 0;
        line-height: 2em;
        padding-top: 1em;
        background-image: url('../../assets/img/img-page-1/label_small.svg');
        background-repeat: no-repeat;
        background-position-y: 78%;
        background-size: 3em;
        background-position-x: 100%;
    } 
    .about__text_last{
      display: block;
      order: 4;
      font-family: $font-Helvetica;
      font-weight: $font-weight-400;
        font-size: 0.9em;
        color: $color-white;
        line-height: 1.7em;
        opacity: 64%;
        margin: 0;
    }
  }
} 
}



.rooms{
  border-bottom: 0.05em solid #c0cbc5cf;
  .rooms__quantity{
    display: none;
  }
  .rooms__wrap{
    padding: 9em 1.6% 5em 1.6%;
    display: grid;
    grid-template-columns: 1fr 1.3fr 0.5fr 0.5fr 1.7fr;
    grid-template-rows: 0.7fr 0.5fr 0.5fr;
    .rooms__title{
      grid-area: 1/1/2/5;
      margin: 0;
      max-width: 1036px;
      color: $color-nordic-green;
      font-family: $font-Miracle;
      font-size: 9em;
      font-weight: $font-weight-400;
      text-transform: uppercase;
    }
    .rooms__desc{
      font-family: $font-Helvetica;
      font-weight:$font-weight-400;
      font-size: 1.6em;
      text-transform: uppercase;
      color: $color-nordic-green;
      margin: 0;
      padding-left: 45%;
    }
    .rooms__pic{
      margin: 0;
      margin-top: 12em;
    }
    .rooms__btn{
      grid-area: 2/2/3/5;
      width: 11em;
      height: 3em;
      border-radius: 5em;
      border-color: $color-dark-green;
      font-family: $font-Helvetica;
      font-size: 1.4em;
      font-weight: $font-weight-400;
      background-image: url('../../assets/img/img-page-1/img-small-star.png');
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 10%;
      border-color: #e6f4edbd;
      margin-top: 8.5em;
      background-color: white;
      color: $color-nordic-green;
      margin-left: 20%;
    }
    .rooms__bedroom{
      grid-area: 2/5/4/6;
      background-image: url('../../assets/img/img-page-1/img-bed-green-small.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-position-x: right;
      display: flex;
      align-items: end;
      margin: 0;
      width: 48em;
      .rooms__bedroom-btn{
        width: 10em;
        height: 10em;
        cursor: pointer;
        margin-bottom: 2.2em;
        margin-right: 6%;
      }
    }
    .rooms__btn-arrow{
      margin: 0;
      width: 13em;
      align-self: flex-end;
      cursor: pointer;
      border: none;
      background-color: white;
      .rooms__btn-img{
        width: 100%;
      }
    }
    .rooms__info{
      grid-area: 3/2/4/5;
      .rooms__subtitle{
        padding-top: 4.5em;
        font-family: $font-Miracle;
        font-weight: $font-weight-400;
        font-size: 3.4em;
        color: $color-nordic-green;
        line-height: 100%;
        letter-spacing: 0.05em;
        margin-bottom: 0.5em;
        min-width: 9em;
      }
      .rooms__text{
        font-size: 1.1em;
        font-weight: $font-weight-400;
        font-family: $font-Helvetica;
        color: $color-nordic-green;
        opacity: 80%;
        margin-bottom: 4em;
        max-width: 25em;
        margin-left: 0;
        opacity: 80%;
        line-height: 1.4em;

      }
      .rooms__page{
        font-size: 1.3em;
        font-weight: $font-weight-400;
        font-family: $font-Helvetica;
        color: #5e726fff;

      }
      .rooms__page:before {
        color: $color-nordic-green;
        content: "01 ";
      }
    }
  }

  @media screen and (max-width: 1670px) {
    .rooms__wrap{
      .rooms__btn{
        grid-area: 2/2/3/4;
      }
      .rooms__bedroom{
        grid-area: 2/4/4/6;
        width: 100%;
        background-size: contain;
        .rooms__bedroom-btn{
          margin: 0 0 2.2em 60%;}
      }
      .rooms__info{
        grid-area: 3/2/4/4;
        margin-left: 20%;
        margin-right: 20%;
        .rooms__subtitle{
          min-width: 1em;
          padding-top: 0;
          font-size: 2.5em;
        }
      }
      .rooms__title{
          font-size: 7em;
        
      }
      .rooms__desc{
        padding-left: 30%;
        font-size: 1.1em;
        
      }
      .rooms__btn-arrow{
        .rooms__btn-img{
          width: 80%;
        }
      }
    }
  }

  @media screen and (max-width: 1340px) {
    .rooms__wrap{
      grid-template-rows: 0.5fr 0.5fr 0.5fr;
      .rooms__btn-arrow{
        .rooms__btn-img{
          width: 65%;
        }
      }
      .rooms__title{
        font-size: 6.5em;
      }
      .rooms__btn{
        display: none;
      }
      .rooms__image{
        display: none;
      } 
      .rooms__pic{
        display: none;
      }
      .rooms__info{
        margin-left: 0;
        grid-area: 2/2/4/4;
        .rooms__subtitle{
          margin-bottom: 10%;
          padding-top: 50%;
        }
        .rooms__text{
          line-height: 160%;
          margin-bottom: 50%;
        }
      }
      .rooms__bedroom{
        background-position-x: right;
        min-height: 40em;
        .rooms__bedroom-btn{
          width: 8em;
          height: 8em;
        }
      }
    }
  }

  @media screen and (max-width: 960px) {
    .rooms__quantity{
      display: block;
      font-size: 1.1em;
      padding-top: 10%;
      padding-left: 80%;
      color: $color-nordic-green;
      
    }
    .rooms__wrap{   
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5%;
      padding-bottom: 5%;
      .rooms__title{
        font-size: 5em;
        max-width: 60%;
        width: 100%;
        margin-bottom: 7%;
      }
      .rooms__desc{
        padding-left: 0;
        width: 60%;
        margin-bottom: 7%;
      }
      .rooms__bedroom{
        margin-left: 0;
        background-position: center;
        background-size: 100%;
        display: flex;
        justify-content: flex-end;
        .rooms__bedroom-btn{
          margin-right: 5%;
        }
      }
      .rooms__info{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        .rooms__page{
          order: 1;
          padding-top: 10%;
          margin: 0;
          text-align: right;
        }
        .rooms__subtitle{
          order: 2;
          padding-top: 10%;
        }
        .rooms__text{
          order: 3;
          margin: 0;
          max-width: 100%;
        }
      }
      .rooms__btn-arrow{
        order: 1;
        width: 10em;
      }
      
    }
  }

  @media screen and (max-width: 750px) {
    .rooms__quantity{
      padding-left: 70%;
    }
    .rooms__wrap{   
      align-items: start;
      .rooms__title{
        font-size: 3.5em;
        max-width: 100%;
        text-align: center;
      }
      .rooms__desc{
        width: 150px;
      font-size: 0.75em;
      }
      .rooms__bedroom{
        margin-left: 0;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: flex-end;

        .rooms__bedroom-btn{
          margin-right: 5%;
        }
      }
      .rooms__info{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        .rooms__page{
          order: 1;
          padding-top: 10%;
          margin: 0;
          text-align: right;
        }
        .rooms__subtitle{
          order: 2;
          padding-top: 10%;
        }
        .rooms__text{
          order: 3;
          margin: 0;
          max-width: 100%;
          font-size: 0.9em;
        }
      }
      .rooms__btn-arrow{
        order: 1;
      }
      
    }
  }
}

.faci-lities{
  padding: 5em 1.6% 8em 1.6%;
  display: grid;
  grid-template-rows: 1fr 0.6fr;
  grid-template-columns: 0.9fr 1fr 0.8fr;
  .faci-lities__title{
    margin: 0;
    color: $color-nordic-green;
    font-family: $font-Miracle;
    text-transform: uppercase;
    max-width: 657px;
    display: flex;
    flex-direction: column;
    .faci-lities__title-part1{
      max-width: 300px;
      width: 100%;
      margin: 0;
      font-size: 9em;
      font-weight: $font-weight-400;
      line-height: 1em;
    }
    .faci-lities__title-part2{
      font-size: 9em;
      font-weight: $font-weight-400;
      text-align: right;
      margin: 0;
      background-image: url('../../assets/img/img-page-1/img-small-star.png');
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 20%;
      background-size: 10%;
    }
  }
  .faci-lities__barman{
    display: flex;
    margin: 0;   
    align-items: start; 
    background-image: url('../../assets/img/img-page-1/img-barman.png');
    background-repeat: no-repeat;
    background-position-x: 6em;
    background-position-y: 60%;
    min-width: 550px;
    width: 100%;
    .faci-lities__barman-lable{
      margin: 0;
    }
    
  }
  .faci-lities__desc{
    font-family: $font-Helvetica;
    font-weight: $font-weight-400; 
    color: $color-nordic-green;
    font-size: 1.6em;
    max-width: 38%;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    margin: 0;    
  }
  .faci-lities__cook{
    margin:0;
  }
  .faci-lities__text{
    font-family: $font-Helvetica;
    font-weight: $font-weight-400; 
    font-size: 1.1em;
    line-height: 1.5em;
    color: $color-nordic-green;
    opacity: 80%;
    max-width: 55%;
    width: 100%;
    margin: 0;
    padding-top: 25%;
  }

  @media screen and (max-width: 1670px){
    .faci-lities__desc{
      font-size: 1.1em;
    }
    .faci-lities__title{
      .faci-lities__title-part1{
        font-size: 7em;
      }
      .faci-lities__title-part2{
        font-size: 7em;
      }
    }
    .faci-lities__barman{
      background-size: contain;
      min-width: 0;
      width: 100%;
      background-position-x: 4em;
      .faci-lities__barman-lable{
        display: none;
      }
    }
    
  .faci-lities__cook{
    .faci-lities__cook-pic{
    max-width: 24em;
    width: 100%;
    }
  }
  .faci-lities__text{
    padding-top: 13%;
    max-width: 65%;
    width: 100%;
  }
  }
  
  @media screen and (max-width: 1340px){
    .faci-lities__title{
      .faci-lities__title-part1,
      .faci-lities__title-part2{
        font-size: 6.5em;
      }
    }
  }

  @media screen and (max-width: 1250px){    
  grid-template-columns: 0.9fr 1fr 0.4fr;
    .faci-lities__barman{
      display: none;
    }
    .faci-lities__desc{
      grid-area: 1/3/3/4;
      max-width: 200px;
      text-align: right;
    }
    .faci-lities__cook{
      grid-area: 1/1/3/2;
      background-image: url('/assets/img/img-page-1/label-bank-hotel-premium-room.png');
      background-repeat: no-repeat;
      background-size: 25%;
      background-position-x: 70%;
      background-position-y: 30%;
      display: flex;
      align-items: center;
      width: 100%;
      .faci-lities__cook-pic{
      width: 65%;
      margin: 0;
      }
    }
  }

  @media screen and (max-width: 960px){
    padding: 5em 1.6% 1em 1.6%;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 0.8fr 1.3fr 0.5fr;
    justify-items: center;
    .faci-lities__title{
      grid-area: 1/1/2/2;
      display: flex;
      padding-left: 50%;
      .faci-lities__title-part1{
        font-size: 5em;
      }
      .faci-lities__title-part2{
        font-size: 5em;
        background-position-x: 10%
      }
    }
    .faci-lities__desc{
      grid-area: 1/2/2/3;
    }
    .faci-lities__cook{
      grid-area: 2/1/3/3;
      background-image: none;
      display: flex;
      justify-content: center;
      .faci-lities__cook-pic{
        max-width: 100%;
        width: 100%;
      }
    }
    .faci-lities__text{
      grid-area: 3/1/4/3;
      padding-top: 6%;
      max-width: 100%;
    }

  }

  @media screen and (max-width: 750px){
    padding: 4em 1.6% 5em 1.6%;
    grid-template-columns: 1fr 0.8fr;    
    grid-template-rows: 0.5fr 0.6fr 0.5fr;
    .faci-lities__title{
      padding-left: 20%;
      .faci-lities__title-part1{
        font-size: 3.5em;
      }
      .faci-lities__title-part2{
        font-size: 3.5em;
        margin-right: -1.5em;
      }
    }
    .faci-lities__cook{
      margin-top: 5%;
      width: 60%;
      align-items: start;
      margin-left: -4em;
    }
    .faci-lities__desc{
      font-size: 1em;
      max-width: 8.7em;
      width: 100%;
    }
    .faci-lities__text{
      font-size: 0.9em;
      max-width: 70%;
      padding-left: 25%;
      padding-top: 10%;
    }
  }
}

.restaurant{
  padding: 0 1.6% 8em 1.6%;
  .restaurant__wrap{
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.8fr;
    grid-template-rows: 1fr 0.2fr 0.5fr;
    justify-items: start;
    .restaurant__btn{
      grid-area: 1/1/4/2;
      border: none;
      background-color: $color-white;
      margin: 0;
      margin-top: 15em;
      cursor: pointer;
    }
    .restaurant__page{
      color: $color-nordic-green;
      font-family: $font-Miracle;
      text-transform: uppercase;
      font-weight: $font-weight-400;
      font-size: 80px;
      margin: 0;
    }
    .restaurant__name{
      color: $color-nordic-green;
      font-family: $font-Miracle;
      font-weight: $font-weight-400;
      font-size: 80px;
      margin: 0;
      max-width: 5em;
      line-height: 1em;
      width: 100%;
      margin-bottom: 5%;
    }
    .restaurant__text{
      font-family: $font-Helvetica;
      font-weight: $font-weight-400; 
      font-size: 1.1em;
      line-height: 1.5em;
      color: $color-nordic-green;
      opacity: 80%;
      max-width: 24.6em;
      width: 100%;
      margin: 0;
      padding-right: 10%;

    }
    .restaurant__pic{
      grid-area: 1/3/4/4;
      .restaurant__image{
        width: 100%;
      }
    }
  }
  .restaurant__desc{
    display: none;
  }

  @media screen and (max-width:1440px) {
    .restaurant__wrap{
      .restaurant__page{
        font-size: 3em;
      }
      .restaurant__name{
        font-size: 3em;
      }
      .restaurant__text{
        max-width: 18.5em;
      }
    }  
    .restaurant__desc{
      display: block;
      font-family: $font-Helvetica;
      font-weight: $font-weight-400; 
      text-transform: uppercase;
      font-style: italic;
      color: $color-nordic-green;
      padding-top: 1em;
      width: 13%;
      margin: 0;
      padding-left: 70%;
    }  
    .restaurant__desc:before{
      font-style: normal;
      content: "Art & Congress ";

    }
  }

  @media screen and (max-width:1250px){
    .restaurant__wrap{
      .restaurant__page{
        font-size: 2.4em;
      }
      .restaurant__name{
        font-size: 2.4em;
      }
      .restaurant__btn{
        margin-top: 3em;
        .restaurant__btn-image{
          width: 7.5em;
        }
      }
    } 
    .restaurant__desc{
      display: none;
    }
  }

  @media screen and (max-width:960px){
    padding: 0 1.6% 4em 1.6%;
   .restaurant__wrap{
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.3fr;
    align-items: start;
    max-height: 70em;
    .restaurant__pic{
      grid-area: 1/1/2/3;
      margin-bottom: 10%;
      .restaurant__image{
        width: 100%;
      }
    }
    .restaurant__btn{
      grid-area: 3/1/4/2;
      margin-top: 0;
    }
    .restaurant__page{
      grid-area: 2/1/3/2;
    }
    .restaurant__name{
      max-width: 100%;
    }
    .restaurant__text{
      max-width: 100%;
      padding-right: 0;
    }
    }
  }

  @media screen and (max-width:750px){
    .restaurant__wrap{
      .restaurant__page{
      font-size: 2em;
    }
    .restaurant__name{
      font-size: 2em;
      max-width: 5em;
    }
    .restaurant__btn{
      .restaurant__btn-image{
        width: 5.5em;
      }
    }
    .restaurant__text{
      font-size: 0.9em;
    }
    }
  }
}

.page{
  padding: 0 1.6% 8em 1.6%;
  display: flex;
  flex-direction: column;
    .page__numder-one{
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 1fr 0.3fr;
    align-items: center;
    min-height: 22em;  
    height: 100%;
    border-bottom: 0.05em solid #c0cbc5cf;
    .page__number,
    .page__name{      
      color: $color-nordic-green;
      font-family: $font-Miracle;
      font-weight: $font-weight-400;
      font-size: 80px;
    }
    .page__btn{
      border: none;
      background-color: $color-white;
      cursor: pointer;
    }
  }
  .page__number-two{
    margin: 0;
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 1fr 0.3fr;
    align-items: center;
    min-height: 22em;  
    height: 100%;
    border-bottom: 0.05em solid #c0cbc5cf;
    .page__number,
    .page__name{      
      color: $color-nordic-green;
      font-family: $font-Miracle;
      font-weight: $font-weight-400;
      font-size: 80px;
    }
    .page__btn{
      border: none;
      background-color: white;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width:1440px){
    .page__numder-one{
    .page__number,
    .page__name{
      font-size: 3em;
    }
  }
  .page__number-two{
    .page__number,
    .page__name{
      font-size: 3em;
    }
  }
  }

  @media screen and (max-width:1250px){
    .page__numder-one{
      .page__number,
      .page__name{
        font-size: 2.4em;
      }
    }
    .page__number-two{
      .page__number,
      .page__name{
        font-size: 2.4em;
      }
    }
  }

  @media screen and (max-width:960px){
    .page__btn{
      display: none;
    }
    .page__numder-one{
      grid-template-columns: 1fr 0.3fr;
      grid-template-rows: 1fr 0.2fr;
      .page__name{
      padding-top: 10%;
      }
    }
    .page__number-two{
      grid-template-columns: 1fr 0.3fr;
      grid-template-rows: 1fr 0.2fr;
      margin-top: 3%;
      .page__name{
        padding-top: 10%;
      }
    }
  }

  @media screen and (max-width:750px){
    .page__numder-one{
      .page__number,
      .page__name{
        font-size: 2em;
      }
      .page__image-wrap{
        .page__image{
          width: 100%;
        }
      }
    }
    .page__number-two{
      .page__number,
      .page__name{
        font-size: 2em;
      }
      .page__image-wrap{
        .page__image{
          width: 100%;
        }
      }
    }
  }
}





.best-apartments {
  background-image: url('/assets/img/img-page-1/img-bedroom-grey.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1920px;
  height: 67.3em;
  background-size: cover;
  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    max-width: 1440px;
    height: 810px;
    background-size: cover;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    max-width: 1024px;
    height: 810px;
    background-size: cover;
  }
  @media screen and (max-width: 719px) {
    max-width: 920px;
    width: 100%;
    background-size: contain;
    background-image: url('/assets/img/img-page-1/img-conference-hall-small.png');
  }
}


.best-apartments__title {
  @extend %major-title;
  color: $color-yellow;
  text-transform: uppercase;
  padding-top: 0.7em;
  margin-left: 0.31em;
  margin-bottom: 1.77em;
  height: 2em;
  width: 8em;
  font-family: $font-Miracle;
  @media screen and (max-width: 1440px) and (min-width: 1140px) {
    margin-bottom: 1.23em;
    height: 1.7em;
    width: 7em;
    font-size: 7.7em;
    line-height: 0.8em;
  }
  @media screen and (max-width: 1139px) and (min-width: 921px) {
    padding-top: 1em;
    margin-bottom: 1.8em;
    font-size: 6.6em;
    line-height: 0.76em;
  }
  @media screen and (max-width: 920px) and (min-width: 376px) {
    margin-left: 0.2em;
    margin-bottom: 3em;
    padding-top: 1.2em;
    height: 2em;
    width: 6em;
    font-size: 3.6em;
    line-height: 1em;
  }
  @media screen and (max-width: 375px) {
    margin-left: 0.2em;
    margin-bottom: 8.7em;
    padding-top: 1.2em;
    height: 2em;
    width: 6em;
    font-size: 3.6em;
    line-height: 1em;
  }
}

.best-apartments__text {
  @extend %middle-elements;
  margin-left: 31px;
  color: $color-yellow;
  text-transform: uppercase;
  width: 17em;
  height: 4em;
  @media screen and (max-width: 1440px) {
    font-size: 1.13em;
    line-height: 1.22em;
  }
  @media screen and (max-width: 1440px) and (min-width: 1140px) {
    margin-left: 1.4em;
    height: 3.8em;
    width: 16.7em;
  }
  @media screen and (max-width: 1139px) and (min-width: 720px) {
    margin-left: 1.2em;
    height: 5em;
    width: 14em;
  }
  @media screen and (max-width: 719px) {
    margin-left: 8.9em;
    height: 6em;
    width: 12em;
  }
}

.our-gallery {
  padding-top: 20em;
  background-color: $color-dark-green;
  width: 100%;
  display: grid;
  grid-template-columns: 19% 4% 54% 4% 19%;
  grid-template-rows: 11em 10em 8em 46em 7em 15em 16em;
  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    padding-top: 17em;
    grid-template-columns: 20% 3% 54% 3% 20%;
    grid-template-rows: 18em 10em 8em 32em 15em 25em;
  }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    padding-top: 6em;
    grid-template-columns: 17% 2% 64% 2% 15%;
    grid-template-rows: 14em 9em 22em 5em 16em;
  }
  @media screen and (max-width: 639px) and (min-width: 375px) {
    padding-top: 4em;
    grid-template-columns: 43.5% 56.5%;
    grid-template-rows: 22em 8em 12.6em 9.6em;
  }
}

.our-gallery__text-element-left {
  margin-left: 6%;
  height: 1em;
  width: 90%;
  color: $color-white;
  @extend%middle-elements;
  grid-area: 1 / 1 / 2 / 2;
  text-transform: uppercase;
  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    visibility: hidden;
  }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    font-size: 1.1em;
    font-style: italic;
    line-height: 1.3em;
  }
  @media screen and (max-width: 639px) and (min-width: 375px) {
    display: none;
  }
}


.our-gallery__center-section {
  margin-left: 1%;
  margin-right: 1%;
  grid-area: 1 / 3 / 5 / 4;
  justify-items: center;
  display: grid;
  grid-template-rows: 7em 14em 12.6em 38em 9em;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    grid-template-rows: 5em 12em 12.6em 32em 7em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    grid-template-rows: 5em 7em 11em 21em 5em;
  }
  @media screen and (max-width: 639px) and (min-width: 375px) {
    margin: 0;
    grid-area: 1 / 1 / 2 / 2;
    grid-template-rows: 2em 8em 15em;
    text-align: center;
  }
}



.our-gallery__logo {
  height: 11em;
  width: 12em;
  grid-area: 1 / 1 / 2 / 2;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    width: 7em;
    height: 5em;
  }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    width: 4em;
    height: 3em;
    align-self: flex-start;
  }
  @media screen and (max-width: 720px) {
    width: 3.2em;
    height: 4.2em;
    ;
  }
}



.our-gallery__img-logo {
  width: 100%;
}

.our-gallery__title {
  @extend%major-title;
  color: $color-yellow;
  margin-top: 0.35em;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
  font-size: 7.8em;
  line-height: 1em;
  }
  @media screen and (max-width: 1024px) and (min-width: 640px) {
    margin: 0;
    font-size: 6em;
    line-height: 0.7em;
  }
  @media screen and (max-width: 639px) {
    margin: 0;
    margin-top: 0.6em;
    margin-bottom: 2em;
    height: 2em;
    width: 5em;
    grid-area: 2 / 1 / 3 / 2;
    font-size: 3.9em;
    line-height: 1em;
  }
}

.our-gallery__bench {
  margin-top: 6em;
  margin-left: 0;
  margin-bottom: 4em;
  grid-area: 2 / 1 / 4 / 2;
  height: 18em;
  width: 19em;
  cursor: pointer;
  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    margin-top: 0;
    height: 15.5em;
    width: 15em;
    overflow: hidden;
  }
  @media screen and (max-width: 1024px) and (min-width: 620px) {
    margin-top: 3em;
    height: 12em;
    width: 10.62em;
    overflow: hidden;
  }
  @media screen and (max-width: 720px) and (min-width: 375px) {
    display: none;
  }
}

.our-gallery__img-bench {
  width: 116%;
  height: 112%;
  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    margin: -3em 0 0 -6em;
  }
  @media screen and (max-width: 1024px) and (min-width: 620px) {
    margin: -3.3em 0 0 -3.5em;
  }
}


.our-gallery__text-element {
  @extend%text-elements;
  margin-bottom: 9em;
  width: 25em;
  height: 6em;
  text-align: center;
  color: $color-white;
  opacity: 80%;
  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    margin-bottom: 5em;
  }
  @media screen and (max-width: 1024px) and (min-width: 680px) {
    margin-top: 3.8em;
    margin-bottom: 3.5em;
    font-size: 0.8em;
    line-height: 1.8em;
    grid-area: 3 / 1 / 4 / 2;
  }
  @media screen and (max-width: 679px) {
    margin-top: 4em;
    font-size: 0.8em;
    line-height: 1.5em;
    height: 6em;
    width: 29em;
    grid-area: 3 / 1 / 4 / 2;
  }
}

.our-gallery__lobby {
  margin-top: 6em;
  margin-left: 0;
  height: 25em;
  grid-area: 2 / 5 / 3 / 6;
  cursor: pointer;
  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.our-gallery__img-lobby {
  width: 100%;
  height: 100%;
}


.our-gallery__lobby-2 {
  display: none;
  @media screen and (max-width: 1024px) and (min-width: 680px) {
    margin-top: 5em;
    display: block;
    grid-area: 2 / 5 / 3 / 6;
    width: 9em;
    height: 9.2em;
    justify-self: end;
  }
}


.our-gallery__img-lobby-2 {
  width: 100%;
  height: 100%;
}


.our-gallery__lobby-3 {
  display: none;
  @media screen and (max-width: 680px) {
    margin: 0;
    margin-left: 1em;
    display: block;
    height: 8.9em;
    width: 11.1em;
    grid-area: 3 / 2 / 4 / 3;
    justify-self: flex-end;
    position: relative;
    bottom: 1.6em;
  }
}


.our-gallery__img-lobby-3 {
  width: 100%;
  height: 100%;
  opacity: 18%;
}








.our-gallery__reception {
  margin-top: 12em;
  margin-right: 0;
  width: 15em;
  height: 15em;
  grid-area: 3 / 5 / 4 / 6;
  cursor: pointer;
  display: none;
  @media screen and (max-width: 1440px) and (min-width: 1025px){
    grid-area: 2 / 5 / 3 / 6;
    margin-top: 0;
    display: block;
  }
}


.our-gallery__fireplace {
  height: 37.5em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  @media screen and (max-width: 1680px) and (min-width: 1025px){
    height: 28.4em;
    width: 43em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px){
    align-self: flex-start;
    height: 19.77em;
    width: 30.74em;
  }
  @media screen and (max-width: 720px) and (min-width: 375px) {
    display: none;
  }
}

.our-gallery__img-reception {
  width: 100%;
  height: 100%;
}

.our-gallery__img-fireplace {
  width: 100%;
}

.our-gallery__octagon-text-large-screen {
  margin-top: 6em;
  margin-left: 6em;
  justify-self: start;
  display: flex;

  @media screen and (max-width: 1440px) and (min-width: 1025px){
    margin-top: 0;
    margin-left: 3em;
    align-self: flex-start;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px){
    margin-top: 0;
    margin-left: 5.5em;
    align-self: flex-start;
  }
  @media screen and (max-width: 720px) and (min-width: 375px) {
    display: none;
  }
}


.our-gallery__octagon-text-small-screen {
  display: none;
  @media screen and (max-width: 720px) and (min-width: 375px) {
    justify-self: start;
    display: flex;
    margin-top: 3em;
    margin-left: 0.63em;
    grid-area: 5 / 1 / 6 / 3;
  }
}


.our-gallery__label-octagon-yellow {
  margin: 0;
  height: 3.13em;
  width: 3.13em;
  align-self: center;
  @media screen and (max-width: 1024px) {
    width: 2.315em;
    height: 2.315em;
    align-self: flex-start;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px){
    padding-top: 1.7em;
  }
  @media screen and (max-width: 719px) and (min-width: 375px) {
    padding-top: 2em;
  }
}

.our-gallery__text-element-near-octagon {
  margin-left: 1.6em;
  font-family: $font-Helvetica;
  font-size: 1.58em;
  font-style: italic;
  font-weight: $font-weight-400;
  line-height: 1.2em;
  color: $color-white;
  height: 2.5em;
  width: 20em;
  opacity: 80%;
  @media screen and (max-width: 1024px) {
    margin-left: 1.2em;
    font-size: 1em;
    line-height: 1.3em;
  }
  @media screen and (max-width: 1024px) and (min-width: 640px){
    margin-top: 1.8em;
    margin-bottom: 4.6em;
    height: 3em;
    width: 20em;
  }
  @media screen and (max-width: 639px) and (min-width: 375px){
    margin-top: 1.9em;
    margin-bottom: 6em;
    height: 3.2em;
    width: 18em;
  }
}

.our-gallery__dining-area {
  margin-left: 4%;
  height: 27em;
  grid-area: 4 / 1 / 5 / 2;
  cursor: pointer;
  align-self: flex-end;
  @media screen and (max-width: 1680px) and (min-width: 1025px){
    margin-top: 13em;
    grid-area: 4 / 1 / 5 / 2;
    width: 14.3em;
    height: 19em;

  }
  @media screen and (max-width: 1024px) and (min-width: 720px){
    margin-top: 12em;
    grid-area: 3 / 1 / 4 / 2;
    height: 10.88em;
    width: 9.15em;
  }
  @media screen and (max-width: 720px) and (min-width: 375px) {
    display: none;
  }
}


.our-gallery__img-dining-area {
  width: 100%;
  height: 100%;
}

.our-gallery__bathroom-mirror {
  margin: 0;
  width: 26em;
  height: 9em;
  grid-area: 5 / 4 / 6 / 6;
  cursor: pointer;
  @media screen and (max-width: 1680px) and (min-width: 1025px){
    margin-top: 0em;
    width: 20em;
    height: 7em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px){
    margin-top: 1.5em;
    margin-left: -5em;
    height: 7.95em;
    width:  15.9em;
    grid-area: 4 / 4 / 5 / 6;
  }
  @media screen and (max-width: 719px) and (min-width: 375px) {
    margin: 0;
    margin-left: 4.6em;
    margin-right: 1em;
    grid-area: 2 / 2 / 3 / 3;
    height: 7em;
    width: 8em;
  }
}


.our-gallery__img-bathroom-mirror {
  margin-left: -0.3em;
  width: 100%;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 719px) and (min-width: 375px) {
    width: 100%;
    height: 100%;
  }
}

.our-gallery__background-text {
  grid-area: 6 / 1 / 7 / 6;
  @media screen and (max-width: 719px) and (min-width: 375px) {
    display: none;
  }
}


.our-gallery__background-text-img {
  width: 100%;
  position: relative;
  display: flex;
  z-index: 1;
  top: 7em;
  @media screen and (max-width: 1680px) and (min-width: 1025px){
    top: -5em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px){
    top: -11.4em;
  }
}

.our-gallery__reception-1 {
  display: none;
  @media screen and (max-width: 640px) {
    margin-left: 0.8em;
    margin-bottom: 7em;
    display: block;
    height: 13em;
    width: 9.8em;
    grid-area: 3 / 1 / 4 / 2;
    position: relative;
    bottom: 2.7em;
  }
}

.our-gallery__img-reception-1 {
  width: 100%;
  height: 100%;

}

.our-gallery__green-chair {
  display: none;
  @media screen and (max-width: 640px) {
    display: block;
    height: 17em;
    width: 12em;
    grid-area: 4 / 2 / 5 / 3;
    position: relative;
    right: 4.8em;
    bottom: 9.3em;
  }
}

.our-gallery__img-green-chair {
  width: 100%;
}

.our-gallery__bathroom {
  display: none;
  @media screen and (max-width: 640px) {
    margin-top: 1em;
    display: block;
    height: 6em;
    width: 10.3em;
    grid-area: 4 / 1 / 5 / 2;
  }
}

.our-gallery__img-bathroom {
  width: 100%;
  opacity: 18%;
}

.footer {
  width: 100vw;
  background-color: $color-white;
  color: $color-nordic-green;
}

.footer__get-in-touch {
  margin: 1%;
  padding-top: 18.8em;
  display: grid;
  grid-template-columns: 47% 20% 26% 7%;
  grid-template-rows: 20% 20% 35% 25%;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
  grid-template-columns: 52% 15% 26% 7%;
  padding-top: 16.5em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    grid-template-columns: 45% 15% 41%;
    padding-top: 15.8em;
  }
  @media screen and (max-width: 719px) {
    grid-template-columns: 7.4em 3.8em 1.3em 2.8em 7.4em;
    grid-template-rows: 6em 13.5em 8.9em 10em 4em;
    padding-top: 6.7em;
  }
}

.footer__phone-number {
  margin: 0;
  font-family: $font-Helvetica;
  font-weight: $font-weight-400;
  font-size: 5em;
  line-height: 1.2em;
  width: 9em;
  height: 6em;
  grid-area: 1 / 1 / 2 / 3;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    font-size: 3.1em;
    line-height: 0.8em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    font-size: 2.4em;
    line-height: 0.6em;
  }
  @media screen and (max-width: 640px) {
    font-size: 1.2em;
    line-height: 0.8;
  }
}

.footer__phone-number:after {
  content: '';
  background-color: $color-dark-green;
  height: 1px;
  width: 95%;
  opacity: 48%;
  display: block;
}

.footer__address {
  @extend%middle-elements;
  height: 3em;
  width: 11em;
  margin: 0;
  grid-area: 2 / 3 / 3 / 4;
  text-transform: uppercase;
  cursor: pointer;
  @media screen and (max-width: 1680px) {
    font-size: 1.2em;
    line-height: 1.2em;
    width: 10em;
  }
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    height: 2.8em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    height: 2.6em;
  }
  @media screen and (max-width: 640px) {
    grid-area: 2 / 3 / 2 / 6;
  }
}

.footer__get-in {
  margin:0;
  font-family: $font-Miracle;
  font-size: 18.7em;
  font-weight: $font-weight-400;
  line-height: -2em;
  grid-area: 3 / 1 / 4 / 2;
  text-transform: uppercase;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    font-size: 15.5em;
    line-height: 0.8em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    font-size: 9.5em;
    line-height: 0.6em;
  }
  @media screen and (max-width: 640px) {
    width: 3em;
    font-size: 5.3em;
    line-height: -2em;
    grid-area: 3 / 1 / 4 / 5;
  }
}

.footer__touch {
  grid-area: 4 / 2 / 5 / 3;
  font-family: $font-Miracle;
  font-size: 18.7em;
  font-weight: $font-weight-400;
  line-height: -2em;
  position: relative;
  top: -0.6em;
  left: -0.12em;
  color: $color-yellow;
  text-transform: uppercase;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    font-size: 15.5em;
    line-height: 0.8em;
    top: 0.1em;
    left: -0.74em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    font-size: 9.5em;
    line-height: 0.6em;
    top: 0.1em;
    left: -0.1em;
  }
  @media screen and (max-width: 719px) {
    padding-left: 1em;
    font-size: 5.3em;
    line-height: -2em;
    grid-area: 4 / 1 / 5 / 6;
    top: -0.7em;
  }
}

.footer__star {
  width: 150px;
  height: 150px;
  grid-area: 3 / 2 / 4 / 3;
  justify-self: center;
  align-self: center;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    width: 100px;
    height: 100px;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    padding-top: 40px;
    width: 70px;
    height: 70px;
    align-self: flex-start;
  }
  @media screen and (max-width: 719px) {
    padding-top: 24px;
    width: 36px;
    height: 36px;
    grid-area: 3 / 5 / 4 / 6;
    justify-self: flex-start;
    align-self: flex-start;
  }
}

.footer__img-star {
width: 100%;
}

.footer__couch {
  width: 443px;
  grid-area: 3 / 3 / 5 / 4;

  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    height: 335px;
    width: 335px;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    width: 233px;
    height: 231px;
  }
  @media screen and (max-width: 719px) {
    margin-left: 10px;
    margin-right: 9.35px;
    width: 150px;
    height: 150px;
    grid-area: 4 / 4 / 5 / 6;
  }
}

.footer__img-couch {
  width: 100%;
}

.button-book-room {
  @media screen and (max-width: 1920px) and (min-width: 720px) {
    display: none;
  }
  @media screen and (max-width: 719px) {
    display: block;
  }

}

.btn-book-room {
  @media screen and (max-width: 719px) {
    width: 120px;
    height: 120px;
    font-family: $font-Helvetica;
    font-size: 0.9em;
    font-style: italic;
    font-weight: $font-weight-400; 
    color: #000000; 
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background-image: url('/assets/img/img-page-1/label-octagon-yellow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $color-white;
    border: none;
    cursor: pointer;
  }
}

.footer__form {
  padding-top: 70px;
  padding-left: 30px;
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 719px) {
    display: none;
  }
}

.footer__form-name {
  @extend %middle-elements;
  margin-bottom: 50px;
  text-transform: uppercase;
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
  }
}

.search-form {
  margin-left: 0;
  padding-bottom: 200px;
}

.search-form__btn{
  width: 20em;
  height: 9em;
  margin: 0;
  padding-left: 2%;
  background-color: $color-white;
  font-family: $font-Helvetica;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  font-weight: $font-weight-500;
  border-right: none;
  cursor: pointer;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    width: 17em;
    height: 9em;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    width: 15em;
    height: 7em;
    font-size: 14px;
  }
}

.check-in {
  border-right: none;
}

.check-out {
  border-left: none;
}

.search-form__check-in {
  background-image: url('/assets/img/img-page-1/label-arrow-bottom.png');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}
.search-form__check-out {
  margin-left: -10px;
  background-image: url('/assets/img/img-page-1/label-arrow-bottom.png');
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 90%;
}

.search-form__book-room {
  margin-left: -10px;
  background-color: $color-dark-green;
  color: $color-white;
  text-align: center;
  padding: 0;
}

.footer__form:after {
  content: '';
  margin-bottom: 100px;
  background-color: $color-dark-green;
  height: 1px;
  width: 90%;
  opacity: 24%;
  display: block;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    width: 98%;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    width: 98%;
  }
}

.footer__short-information {
  margin: 0;
  padding-left: 30px;
  display: flex;
}
.footer__about-us {
  padding-right: 187px;
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    padding-right: 146px;
  }
  @media screen and (max-width: 719px) {
    padding: 0;
  }
}

.footer__news {
  padding-right: 156px;
  @media screen and (max-width: 1680px) and (min-width: 1025px) {
    padding-right: 188px;
  }
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    padding-right: 145px;
  }
  @media screen and (max-width: 719px) {
    display: none;
  }
}

.footer__title {
  padding-bottom: 46px;
  @extend %middle-elements;
  text-transform: uppercase;
  @media screen and (max-width: 719px) {
    display: none;
  }
}

.footer__title-slash {
  @extend %middle-elements;
  color: $color-yellow;
}

.footer__text {
  width: 285px;
  height: 84px;
  font-family: $font-Helvetica;
  font-size: 16px;
  font-weight: $font-weight-400;
  line-height: 28px;
  @media screen and (max-width: 719px) {
    display: none;
  }
}
.footer__about-us-text {
  padding-bottom: 70px;
}

.footer__news-text {
  padding-bottom: 30px;
}

.footer__company-rights {
  margin-bottom: 100px;
  font-family: $font-Helvetica;
  font-size: 14px;
  font-weight: $font-weight-400;
  line-height: 24px;
  opacity: 32%;
  @media screen and (max-width: 719px) {
    margin-bottom: 50px;
    padding-left: 72px;
    height: 24px;
    width: 100%;
  }
}

.button-book-room:after{
  content: '';
  margin-bottom: 100px;
  background-color: $color-dark-green;
  height: 1px;
  width: 90%;
  opacity: 24%;
  display: block;
  @media screen and (max-width: 1680px) and (min-width: 720px) {
    display: none;
  }
  @media screen and (max-width: 719px) {
    padding: 0;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 98%;
  }
}


.footer__email {
  height: 64px;
  width: 285px;
  padding-left: 20px;
  font-family: $font-Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 64%;
  cursor: pointer;
}


.footer__email-form-btn {
  height: 17px;
  width: 31px;
  position: relative;
  left: -50px;
  background: none;
  border: none;
  opacity: 48%;
  cursor: pointer;
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    top: -45px;
    left: 270px;
  }
}

.footer__social {
  @media screen and (max-width: 719px) {
    display: none;
  }
}

.footer__social-networks {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

.footer__facebook {
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    margin-bottom: 16px;
  }
}

.footer__instagram {
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    margin-bottom: 20px;
  }
}

.footer__link {
  padding-right: 50px;
  text-decoration: none;
  font-family: $font-Helvetica;
  color: $color-dark-green;
  cursor: pointer;
  @media screen and (max-width: 1024px) and (min-width: 720px) {
    padding: 0;
  }
}